body {
    background-color: bisque;
}

/* ---------HEADER-------- */
header {
    background-color: grey;
    text-align: center;
}

nav {
    background-color: red;
}

btn-primary {
    margin: 10%;
}


/*----------CONTAINER-----------------*/
 .meal-container {
     margin: 2rem;
 }

 .categoryLi {
     list-style-type: none;
 }

 h3 { 
     color: blue;
 }

 p {
     size: 18;
 }

/* ---------FOOTER------------------- */
footer {
    background-color: green;
    text-align: center;
}