body {
    background-color: bisque;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

/* ---------HEADER-------- */
header {
        background-image: url("https://media.fshoq.com/images/191/italian-salad-on-the-wooden-background-in-the-kitchen-191-medium.jpg");
        text-align: left;
        padding: 10px;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: red;
    font-size: 3rem;
    margin: 1rem;
}

#header-text {
    font-size: 4rem;
    color: #FCF5F5;
}

nav {
    text-align: center;
}

#search-div {
    padding: 5px;
    text-align: center;
}

.search-form {
    padding: 2px;
}


.btn-primary {
    margin: 1rem;
    text-align: left;
    cursor: pointer;
}


/*----------CONTAINER-----------------*/

#quote-h4 {
    color:black;
    text-align: center;
    font-size: 40px;
}

 .meal-container {
     margin: 2rem;
 }

 .categoryLi {
     list-style-type: none;
     font-size: 30px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     cursor: pointer;
 }

 h3 { 
     color: black;
     font-size: 1.5em;
 }

 p {
     size: 3rem;
     color: black;
 }

 .areaLi {
    list-style-type: none;
 }

 .random-meal-div {
     text-align: center;
 }
 
 img {
    border-radius: 15% 50%;
    max-width: 50%;
    max-height: 50%;
 }

 #like-button {
     margin: 2px;
     padding: 5px;
     width: 20%;
     cursor: pointer;
 }

 .category-div {
     text-align: center;
 }


/* ---------FOOTER------------------- */
footer {
    background-color: #f5e199;
    text-align: center;
    
    bottom: 0;
    left: 0;
    right: 0;
}